<ion-content [fullscreen]="true" class="ion-padding">

  <app-page-header></app-page-header>
  <input #fileInput type="file" accept="image/*" style="display:none" (change)="onFileSelected($event)" />
  <div class="ion-text-center">
    <h2 class="title">Compléter votre profil</h2>
  </div>

  <div class="profile-container">

    <!-- Photo de profil -->
    <div class="avatar-section ion-text-center">
      <div class="avatar-wrapper" (click)="onAvatarClick()">

        <div class="avatar-container">
          <img *ngIf="photoPreview && !isUploading" [src]="photoPreview" class="avatar-img" />
          <ion-icon *ngIf="!photoPreview && !isUploading" name="person-outline" class="avatar-icon"></ion-icon>
          <div class="avatar-uploading" *ngIf="isUploading">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </div>

        <!-- Badge en dehors du container overflow:hidden -->
        <div class="edit-badge">
          <ion-icon name="pencil" size="small"></ion-icon>
        </div>

      </div>

      <p class="avatar-hint">
        {{ isUploading ? 'Envoi en cours...' : photoPreview ? 'Appuyez pour changer' : 'Ajouter une photo (optionnel)'
        }}
      </p>

    </div>

    <!-- Formulaire -->
    <app-custom-input label="Prénom et Nom" placeholder="Entrez votre nom complet" [(value)]="fullName">
    </app-custom-input>

    <app-custom-input label="Email" type="email" placeholder="exemple@email.com" [(value)]="email">
    </app-custom-input>

    <app-custom-input label="Date de Naissance" type="date" placeholder="JJ/MM/AAAA" [(value)]="birthDate">
    </app-custom-input>

    <div class="error-box" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <!-- Mentions légales -->
    <div class="terms">
      <p>
        En vous inscrivant, vous acceptez nos
        <span class="link">Conditions d'utilisation</span> et notre
        <span class="link">Politique de confidentialité</span>.
      </p>
    </div>

    <!-- Bouton Terminer -->
    <app-custom-button color="primary" expand="block" [disabled]="!isFormValid || isSubmitting" [loading]="isSubmitting"
      (click)="completeProfile()">
      {{ isSubmitting ? 'Création en cours…' : 'Terminer' }}
    </app-custom-button>

  </div>

</ion-content>