<ion-tabs>

  <ion-tab-bar class="custom-tab-bar" slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tontines">
      <ion-icon src="assets/icon/tontine.svg"></ion-icon>
      <ion-label>Tontines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon src="assets/icon/message.svg"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="assets/icon/profile.svg"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>