.pin-login-container {
    margin-top: 60px;
}

.title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 16px;
    color: var(--ion-text-gray);
}

.forgot-section {
    margin-top: 40px;
}

.forgot-link {
    color: var(--ion-color-primary);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}