<ion-card class="selection-card" [class.selected]="selected" [class.locked]="locked" [class.premium]="premium"
  (click)="onCardClick()">

  <div class="card-content">
    <div class="radio">
      <ion-icon [name]="selected ? 'radio-button-on' : 'radio-button-off'" [color]="selected ? 'primary' : 'medium'">
      </ion-icon>
    </div>

    <div class="card-body">
      <div class="title-row">
        <h3>{{ title }}</h3>
        <span *ngIf="recommended" class="recommended">
          <ion-icon name="thumbs-up-outline" style="font-size: 14px; margin-right: 4px;"></ion-icon>
          recommandé
        </span>
      </div>
      <p class="description">{{ description }}</p>
      <small *ngIf="note" class="note">{{ note }}</small>
    </div>
  </div>

  <!-- Badge Premium / Locked -->
  <div *ngIf="premium || locked" class="premium-badge">
    <ion-icon src="assets/icon/premium.svg" *ngIf="locked"></ion-icon>
    <span *ngIf="premium && !locked">Premium</span>
  </div>
</ion-card>